$blackcolor: rgba(0, 0, 0, 0.8);
$background: #285B49;
$graycolor: #333333;
$whitecolor: rgba(250, 250, 250, 1);
$activecolor: #1d8763;  //rgb(64, 42, 22);
 $limecolor: #f7f7f7 ;
$basicfont: Ledger;
$shadowstandart:  0 0 10px rgba(0, 0, 0, 0.325);
